.cookie {
  background-color: #212834;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: rem-calc(14);
  line-height: 19px;
  z-index: 4;
  transform: translateY(100%);
  transition: transform 0.5s ease;

  &.show-cookie{
    transform: translateY(0);
    transition: transform 0.6s ease;

  }

  // .cookie__text
  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 22px 0;
  }

  // .cookie__btn

  &__btn {
    text-transform: uppercase;
    padding: 15px 55px 15px 55px;
    border: 0.5px solid #ffffff;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  &__btn:hover{
    transform: scale(1.1);
  }
  &__btn:active{
    transform: scale(1);
  }
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 15px;
    &__inner{
        gap: 10%;
    }
    
  }
  @media (max-width: 540px) {
    font-size: rem-calc(10);
    &__inner{
        padding: 15px 0 15px 0;
    }
    &__btn{
        padding: 12px 50px 12px 50px;
    }
  }
  @media (max-width: 376px) {
    font-size: rem-calc(9);
    &__inner{
        padding: 13px 0 13px 0;
        gap: 16%;
    }
    &__btn{
        padding: 10px 30px 10px 30px;
    }
  }
}
